:root {
  --primary-text-color: #212121;
  --title-text-color: #000000;
  --acent-color: #2196f3;
  --primary-color: #ffffff;
  --links-footer-color: #ffffff;
  --grey-color: #757575;
  --footer-color: #2f303a;
  --button-color: #f5f4fa;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);
}
.header {
  background: var(--links-footer-color);
}

.contact-header {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--grey-color);
}
.links {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.links-footer {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: var(--links-footer-color);
}

.links:hover,
.links:focus {
  color: var(--acent-color);
}
.links-footer:hover,
.links-footer:focus {
  color: var(--acent-color);
}
.contact-header:hover,
.contact-header:focus {
  color: var(--acent-color);
}

.logo-web {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--acent-color);
}
.logo-studio {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-decoration: none;
  cursor: pointer;
}
.logo-studio-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--links-footer-color);
  text-decoration: none;
  cursor: pointer;
}
.contact-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer {
  background: var(--footer-color);
}

.button {
  font-family: inherit;
  background: var(--button-color);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button:hover,
.button:focus {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--links-footer-color);
  background-color: var(--acent-color);
}

.hero {
  background: var(--footer-color);
}
.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--links-footer-color);
}
.button-buy {
  font-family: inherit;
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--acent-color);
  color: var(--links-footer-color);
  border-radius: 4px;
  cursor: pointer;
}
.our-target {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.target-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  text-transform: none;
}
.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.team-box {
  background: var(--button-color);
}
.descreption-user {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  color: var(--grey-color);
}

.description-project {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.lists {
  list-style: none;
}
.links-posters {
  text-decoration: none;
}
.team-description {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.posters {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}
.active {
  color: var(--acent-color);
}
